.item {
    background: url(../images/background.png) no-repeat top center;
    background-size: cover;
}
/*
body {
    background:#ccc;
}


div {
    box-sizing: border-box;
}

header {
    background: url(../images/background.png) no-repeat center top/cover;
    min-height: 1200px;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.main-logo {
    margin-top: 40px;
    float: left;
}

.menu {}

nav {
    float: right;
    margin-top: 60px;
}

.main-menu {
    float: left;
    display: block;
}

.main-menu li {
    float: left;
    display: block;
    margin-left: 60px;
}

.main-menu a {
    color: #f4f5f9;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #e74c3c;
    transition: border-bottom 0.2s;
    border-bottom: 1px solid #e74c3c;
    padding-bottom: 20px;
}

.titles {
    margin: 0 auto;
    text-align: center;
    margin-top: 235px;
}

.title-first {
    color: #f4f5f9;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: center;

}

.titles h1 {
    color: #f4f5f9;
    font-family: "Open Sans";
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.2px;
    margin-top: 50px;
}

.titles p {
    margin: 0 auto;
    max-width: 580px;
    color: #cbc6c0;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 100px;
}

.button-block {
    max-width: 484px;
    margin: 0 auto;
    margin-top: 68px;
}

.button-first {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 39.85px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.24px;
    display: block;
    width: 225px;
    padding: 10px 0;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
}

.button-first:last-child {
    float: right;
}

.button-first:nth-child(1) {
    float: left;
}

.button-first:hover {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.down-icon {
    position: absolute;
    display: block;
    margin: 0 auto;
    margin-top: 250px;
    padding-bottom: 0px;
}

/*end of header*/
/*
.first-tasks {}

.task-item {
    text-align: center;
    max-width: 250px;
    float: left;
    margin-right: 56px;
}

.titles-second {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    margin-top: 31px;
    padding-bottom: 20px;
    border-bottom: 3px solid #6a6a6a;
}

.icon-task {
    margin-top: 115px;
}

.task-item:last-child {
    float: right;
    margin-right: 0;
}

.task-item p {
    color: #999999;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.9px;
    margin-top: 20px;
    padding-bottom: 115px;
}

.whu-we-are {
    border-bottom: 1px solid #e6e7eb;
}

.fa .fa-envelope-o {
    margin: 0;
    padding: 0;
}

.fa {
    width: 75px;
    height: 75px;
    color: #e74c3c;
    margin-top: 115px;
    border: 1px solid #e6e7eb;
    font-size: 30px;
    line-height: 75px;
}

/*end tasks*/
/*
.our-history h3 {
    color: #6a6a6a;
    font-family: "Source Sans Pro";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-left: 28px;
    border-left: 6px solid #e74c3c;
}

.our-history p {
    color: #999999;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    max-width: 582px;
}

.work-button {
    width: 225px;
    border: 1px solid #e6e7eb;
    border-radius: 3px;
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    letter-spacing: 0.12px;
    padding: 8px 0;
    text-align: center;
    line-height: 39.85px;
}

.our-history p,
a {
    margin-top: 50px;
}

.work-button:hover {
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
    border-color: #e74c3c;
}

.our-history {
    float: right;

}

.monitor {
    float: left;
    margin-bottom: 145px;
}

.work-history {
    margin-top: 142px;
}

/*end history*/
/*
.services {}

.services .our-services {
    /*width: 50%;*//*
    background: #202020;
    float: left;
    font-size: 30px;
    width: 50%;
    /*display: inline-block;*/
}
/*
.services .our-services h3 {
    margin-top: 20px;
}

.img {
    background: url(../images/servises-image.png) no-repeat;
    background-size: cover;
    min-width: 800px;
    float: right;
    width: 50%;
    display: block;
}*/
